<ion-header>
  <ion-toolbar color="success" *ngIf="header$ | async as hdata" [color]="hdata?.color">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" [name]="hdata.icon"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ng-container>
      <ion-title>{{ hdata?.message }}</ion-title>
    </ng-container>

    <ion-buttons slot="end">
      <ion-button (click)="drawer.toggleState()">
        <ion-icon name="arrow-dropup-circle" [hidden]="isOpened"></ion-icon>
        <ion-icon name="arrow-dropdown-circle" [hidden]="!isOpened"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <!-- <ion-button color="danger" (click)="testPush()">Test Push</ion-button> -->
  <ng-container *ngIf="data$ | async as res">
    <ng-container *ngIf="res.data; else notificationTemp">
      <device-connect-card *ngFor="let device of res.data" [device]="device" (alert)="onDashboardAlert()"></device-connect-card>
    </ng-container>

    <ng-template #notificationTemp>
      <ng-container *ngIf="res.error || res.empty; else loadingTemp">
        <div class="app-align-center" [hidden]="!res.error">
          Something went wrong , Try again later .
          <ion-button color="warning" (click)="loadDevices()">Refresh</ion-button>
        </div>
        <div class="app-align-center" [hidden]="!res.empty">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>No Data</ion-card-subtitle>
              <ion-card-title>Please connect your device to see device sensor values.</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-button color="primary" routerLink="/device/create">Add device</ion-button>
              <ion-button color="primary" (click)="loadDevices()">Refresh</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </ng-container>
    </ng-template>
    <ion-fab vertical="top" horizontal="end" *ngIf="alert$ | async as alert">
      <ion-fab-button color="secondary" (click)="onAlertToggle()">
        <ion-icon [name]="alert.icon"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
</ion-content>

<ng-template #loadingTemp>
  <div class="app-align-center h-100">
    <ion-spinner name="lines"></ion-spinner>
  </div>
</ng-template>
