<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Flood Detection
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentSettings($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Main Notification</ion-card-title>
      <ion-card-subtitle>note.. </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>

<app-drawer [options]="drawerOptions" #drawer *ngIf="auth.isAdmin$ | async">
  <app-device-connect [drawer]="drawer" [deviceIp]="(auth.user$ | async)?.deviceIp" [uid]="(auth.user$ | async)?.uid"></app-device-connect>
</app-drawer>
